*{
    box-sizing: border-box;
    margin:0;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: antiquewhite;
    padding: 10px 0;
}
.one a{ 
  padding: 0 10px;
  text-decoration: none;
  color:black;
}
.left{
     display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
}
.left figure{
    padding: 0 15px;
}
.right{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
   
}
span{
    color:red;
    
}
.right__one{
    background-color: yellow;
    color: black;
    border: none;
    padding:7px;
    border-radius: 5px;
}
.big{
    width: 80%;
    min-height: 90vh;   
    margin: auto;
    padding: 5rem 0;
    position: relative;

    background-image: url("./cat-big.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right center;
}

.big__content{
    position: absolute;
    padding-top: 4rem;
}
.big h2{
    font-size: 35px;

}
.big p{
    font-size: 20px;
     padding:1rem 0;
     width: 600px;
}
.big__btn{
    padding:0.8rem 1.2rem;
    border-radius: 10px;
    border: none;
    background-color: yellow;
}
.browse{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.card{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    text-align: center;
    padding:3rem 0;
    gap:20px;
}
.browse h2{
    font-size: 35px;
}
.dog {
    background-color: rgb(255, 255, 0);
    border-radius: 10px;
    padding:2rem 0;
   
}
.dog h3{
    padding:1rem 0;
}
.dog img{
    border-radius: 50%;
    padding:1rem;
    background-color: white;
}
.trend{
    width: 100%;
   
    margin:4rem 0 4rem 0;
}
.content{
    width: 80%;
    margin: auto;
    font-size: 35px;
    padding: 1rem;
}
.body{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
    width: 80%;
    margin: auto;
}
.sec__one{
    background-color: aquamarine;
    padding: 2rem 3rem;
    border-radius: 10px;
    width: 38%;
}
.sec__two{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:20px;
    padding:2rem 0;
    width: 58%;
}
.sec__one h3{
    font-size: 35px;
}
.sec__one p{
    font-size: 20px;
    padding: 1rem 0;
}
.btn{
    padding:2rem 0;
    border-radius: 10px;
}
.one__btn{
    background-color: burlywood;
    border: none;
    padding: 0.8rem 1.2rem;
    border-radius: 10px;
}
.sec__one figure{
    display: flex;
    justify-content: center;
}
.sec__one img{
    height: 120px;
}
.two__one{
    background-color: aquamarine;
    padding: 2rem 4rem;
    border-radius: 10px;
    display: flex;
    gap:20px;
    justify-content: center;
    align-items: center;
}
.dog__sec{
 
    padding: 2rem 0;
    margin:4rem 0 4rem 0;
}
.body__dog{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 80%;
    margin: auto;
}
.dog__one{
    display: flex;
    background-color: aliceblue;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
   
}
.dog__head{
    padding: 4rem 4rem;
    
}
.dog__head p{
    padding: 1rem 0;
    font-size: 20px;
}
.dog__head h4{
    font-size: 30px;
}
span{
    color: rgb(0, 128, 255);
}
.dog__head h3{
    font-size: 40px;
}

.dog__two{
    display: flex;
    justify-content: center;
    
    background-color: aliceblue;
    padding: 3rem 3rem;
    border-radius: 10px;

}
.dog__two h4{
font-size: 30px;
padding:2rem 0;
}
.dog__two h3{
    font-size: 40px;
}
.form{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    position: relative;
    z-index: 999;
    border-radius: 10px;
}
.form__one{
   width: 40%;
   text-align: center;
   padding: 3rem 0;
   
}
.form__two{
    width: 60%;
}
.form__two h3{
    font-size: 40px;
}
.form__two p{
    font-size: 20px;
    padding: 1rem 0;
}
form{
    padding:1rem 0;
}
input{
    border: none;
    font-size: 25px;
    border-radius: 10px;
    padding:1rem 0;
}
.form__btn{
    border: none;
    background-color: antiquewhite;
    border-radius: 10px;
    padding: 0.8rem 1.2rem;
}
footer{
    width: 100%;
    background-color: yellow;
    padding-top: 10rem;
    margin-top:-5rem;
}
.main__footer{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    
    padding-bottom: 2rem;
}
.footer__one{
    width: 45%;
    display: flex;
    flex-direction: column;

}
.one__logo{
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    gap:10px;
    padding-bottom: 1rem;
    font-size: 20px;
   
}
.footer__three{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   width: 30%;
   text-align: right;
   gap:10px;
   font-size: 20px;
}
.footer__two{
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 20px;
 
}

@media (min-width: 768px) and (max-width: 1250px){

  .big{
    width: 90%;
  
  }

  .card{
    grid-template-columns: repeat(3,1fr);
  }

  .body{
    flex-direction: column;
  }

  .sec__one,
  .sec__two{
    width: 100%;
  }

  .sec__two{
    grid-template-columns: repeat(2,1fr);
  }
.browse{
    margin-top: -10rem;
  }
  .body__dog{
    flex-direction: column;
  }

  .dog__one,
  .dog__two{
    width: 100%;
  }

  .form{
    flex-direction: column;
    padding-bottom: 3rem;
  }

  .form__one,
  .form__two{
    width: 100%;
    text-align: center;
  }
}


@media (max-width: 767px) {

  header{
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }

  .big{
    width: 95%;
    background-position: center ;
   
 
  }

  .big__content{
    position: static;
    text-align: center;
  }
  .big h2{
    font-size: 30px;
  }

  .big p{
    width: 100%;
    font-size: 18px;
    padding-bottom: 2rem;
  }


  .card{
    grid-template-columns: repeat(2,1fr);
  }
  .browse{
    margin-top: -15rem;
  }
  .browse h2{
    padding-top: 2rem;
    text-align: center;
  }
  
  .body{
    flex-direction: column;
    width: 95%;
  }
 .content{
    text-align: center;
 }
  .sec__one,
  .sec__two{
    width: 100%;
  }

  .sec__two{
    grid-template-columns: repeat(2,1fr);
   
  }
  .two__one{
    padding:2rem 0;
  }


  .body__dog{
    flex-direction: column;
    width: 95%;
  }

  .dog__one,
  .dog__two{
    width: 100%;
    flex-direction: column;
    text-align: center;
  }
  .dog__two h3{
    padding-bottom: 2rem;
  }
  .dog__one img,.dog__two img{
    height: 250px;
  }

 
  .form{
    flex-direction: column;
    text-align: center;
    height: auto;
    padding:2rem 0;
  }
  .form h3{
    font-size: 30px;
  }
  .form p{
    font-size: 18px;
  }
  .form__one,
  .form__two{
    width: 100%;
  }


  .main__footer{
    flex-direction: column;
    gap: 30px;
    text-align: center;
  }
  .one__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
  }
  .footer__one,
  .footer__two,
  .footer__three{
    width: 100%;
  }
}
@media (min-width:1024) {
    
}